<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLink="/dogs" routerLinkActive="active-link">
    <mat-icon class="material-icons">pets</mat-icon>
    <span>Dogs</span>
  </button>
  <button mat-flat-button routerLink="/admin" routerLinkActive="active-link">
    <mat-icon class="material-icons">admin_panel_settings</mat-icon>
    <span>Admin</span>
  </button>
  <button mat-flat-button (click)="openWhatsApp()">
    <mat-icon class="material-icons">message</mat-icon>
    <span>WhatsApp</span>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
