.div-custom {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

/* Ajuste para telas maiores */
@media (min-width: 1200px) {
  .div-custom {
    max-height: calc(100vh - 180px); /* Ajuste conforme necessário */
  }
}

@media (max-width: 768px) { /* Tela menor que 768px de largura */
  .div-custom {
    max-height: calc(100vh - 180px); /* Ajuste conforme necessário para telas pequenas */
  }
}
