<po-page-default p-title="Dogs" class="po-pb-4">
  <div style="max-height: calc(100vh - 140px); overflow-y: auto;">
    <div style="margin-bottom: 8px;">
      <po-search
        [p-literals]="customLiterals"
        (p-change-model)="onSearch($event)">
      </po-search>
    </div>
    <po-widget class="po-sm-12 po-p-1" *ngFor="let animal of filteredAnimals">
      <po-image class="po-sm-6" [p-src]="animal.image"></po-image>
      <p><strong>Nome:</strong> {{ animal.name }}</p>
      <p><strong>Raça:</strong> {{ animal.race }}</p>
      <div *ngIf="isAdmin">
        <po-icon p-icon="po-icon-edit" p-label="Editar" (click)="editAnimal(animal.id)"></po-icon>
        <po-icon p-icon="po-icon-delete" p-label="Excluir" (click)="deleteAnimal(animal.id)"></po-icon>
      </div>
    </po-widget>
  </div>
</po-page-default>

